<nav id="nav" class="navbar navbar-default navbar-fixed-top navbar-custom">
		<!--

	Prologue's nav expects links in one of two formats:

1. Hash link (scrolls to a different section within the page)

   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

2. Standard link (sends the user to another page/site)

  <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
	<ul>
		<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">About</span></a></li>
		<li><a href="#plots" id="plots-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Pick a plot</span></a></li>
		<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-github">Contribute</span></a></li>
	</ul>
</nav>
