<section id="plots" class="two">
	<div class="container">

	<header>
		<h2>Plots</h2>
	</header>

	<p>Coming soon... You will be able to filter the types presented below through checkboxes on the left
	(the side pane is hidden on mobile but <em>#hash-links</em> in the URL to a specific plot will still work).</p>

	<div class="row">

<!-- for loop through these 3 once verified the output is right -->

    <div class="4u$ 12u$(mobile)">
    {% for plot in site.plots %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 1 %}
        <article class="item">
        <a href="#{{ plot.title | slugify }}" class="image fit"><img src="images/{% plot.image %}" alt="" /></a>
        <header>
          <h3>{{ plot.title }}</h3>
        </header>
        </article>
      {% endif %}
    {% endfor %}
    </div>

    <div class="4u$ 12u$(mobile)">
    {% for plot in site.plots %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 2 %}
        <article class="item">
        <a href="#{{ plot.title | slugify }}" class="image fit"><img src="images/{% plot.image %}" alt="" /></a>
        <header>
          <h3>{{ plot.title }}</h3>
        </header>
        </article>
      {% endif %}
    {% endfor %}
    </div>

    <div class="4u$ 12u$(mobile)">
    {% for plot in site.plots %}
      {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 0 %}
        <article class="item">
        <a href="#{{ plot.title | slugify }}" class="image fit"><img src="images/{% plot.image %}" alt="" /></a>
        <header>
          <h3>{{ plot.title }}</h3>
        </header>
        </article>
      {% endif %}
    {% endfor %}
    </div>

	</div> <!-- end row div -->

	</div> <!-- end container div -->
</section>
