<section id="plots" class="two">
	<div class="container">

	<header>
		<h2>Plots</h2>
	</header>

	<p>Coming soon... You will be able to filter the types presented below through checkboxes on the left
	(the side pane is hidden on mobile but <em>#hash-links</em> in the URL to a specific plot will still work).</p>

	<div class="row">
	<div class="4u 12u$(mobile)">
		<article class="item">
			<a href="#" class="image fit"><img src="images/box.png" alt="" /></a>
			<header>
				<h3>Box</h3>
			</header>
		</article>
	</div>
	<div class="4u 12u$(mobile)">
		<article class="item">
			<a href="#" class="image fit"><img src="images/bubble.png" alt="" /></a>
			<header>
				<h3>Bubble</h3>
			</header>
		</article>
		<article class="item">
			<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
			<header>
				<h3>Donut</h3>
			</header>
		</article>
	</div>
	<div class="4u$ 12u$(mobile)">
		<article class="item">
			<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
			<header>
				<h3>Histogram</h3>
			</header>
		</article>
		<article class="item">
			<a href="#" class="image fit"><img src="images/triple line.png" alt="" /></a>
			<header>
				<h3>Line</h3>
			</header>
		</article>
		<article class="item">
			<a href="#" class="image fit"><img src="images/scatter.png" alt="" /></a>
			<header>
				<h3>Scatter</h3>
			</header>
		</article>
	</div>
	</div>

	</div>
</section>
