<section id="plots" class="two">
	<div class="container">

	<header>
		<h2>Plots</h2>
	</header>

	<p>Coming soon... You will be able to filter the types presented below through checkboxes on the left
	(the side pane is hidden on mobile but <em>#hash-links</em> in the URL to a specific plot will still work).</p>

	<div class="row">

<!-- for loop through these 3 once verified the output is right -->

Testing collections:

    {% for collection in site.collections %}
    <section>
        <h1><a href="{{ collection.directory }}">Hello {{ collection.title }}</a></h1>
        Label: {{ collection.label }}
    </section>
{% endfor %}

	</div> <!-- end row div -->

	</div> <!-- end container div -->
</section>
